* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-color: #cde8f6;
}

h1 {
  font-weight: bold;
  color: #666;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

h3.title {
  color: #98097a;
  margin: 8px 0;
}

.upload-form {
  margin: 1.5em 0;
}

#submit {
  padding: 0 10px;
}
